@font-face {
  font-family: Monoton;
  src: url("../fonts/Monoton/Monoton.ttf"); }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf"); }

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand/Quicksand-Light.ttf");
  font-weight: 300; }
